<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard PIX</title>
</head>
<body>
    <h1>Comprovantes Extraídos</h1>
    <table border="1">
        <tr>
            <th>Data</th>
            <th>Valor</th>
            <th>Pagador</th>
            <th>Destinatário</th>
            <th>Instituição Origem</th>
            <th>Instituição Destino</th>
            <th>ID Transação</th>
        </tr>
        {% for item in dados %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
            <td>{{ item[6] }}</td>
            <td>{{ item[7] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
